body {
    font-family: Arial, Helvetica, sans-serif;
}
#letterpair {
    font-size: 64px;
    font-weight: bold;
}
#progressbar {
    width: 50%;
}

#progressbar .progress-label {
    text-align: center;
    
}