html,
body {
  height: 100%
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

#letterpair {
    font-size: 64px;
    font-weight: bold;
    animation-duration: 0.5s;
    animation-delay: 0ms;
    text-align: center;
}

#letterpairbox {
    text-align: center;
}

#guessWord {
    animation-duration: 0.5s;
    animation-delay: 0ms;
    font-size: 32px;
}

#guessWordContainer {
    border: 1px solid black;
    width: 600px;
    height: 48px;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-top: 10px;
}

.progress {
    margin: 10px;
  }

.players {
    width: 600px;
}

.playerRow div {
    padding: 0px;
}