<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Word Bomb</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="/static/javascript/main.js"></script>
</head>
<body>
    Hello {{player.name}}
    <button id="startGame">Start Game</button>
    <div id="letterpair"></div>
    <div id="countdown">-</div>
    <button id="getNewLetterpair">Get New Letter Pair</button>
<br/>
<input type="text" id="guess" />
<button id="submitGuess">Submit</button>
<br/>
    Is the word valid? <div id="isValid"></div>

<div id="players">

</div>
</body>
</html>